#root {
    height: 100%;
}

.sortable-table-header {
    user-select: none;
    cursor: pointer;
}

.selectable-table-row {
    user-select: none;
}

.table.table-sticky-header {
    border-spacing: 0;
    border-collapse: separate;
}

.table.table-sticky-header > thead {
    background-color: white;
    position: sticky;
    top: 0;
}

.table > tbody > tr.active {
    background-color: #0d6efd;
}

.table > tbody > tr.active *::selection {
    background-color: navy;
}

.table > tbody > tr.active > * {
    color: #fff;
}
